nav.navbar-top {
  $header-bg: $white;
  background: $header-bg;
  @include color-contrast($header-bg);
  #userInfo {
    @include color-contrast($header-bg);
    font-size: $body-font-size;
    button.nav-toggler {
      display: none;
    }
  }
  .fas,
  .fab,
  .far {
    margin-right: 5px;
    @include color-contrast($header-bg);
  }
  @media (max-width: 992px) {
    #userInfo {
      width: 100%;
      text-align: center;
      margin-right: 0;
    }
    .navbar-top-navigation {
      flex-direction: row;
      margin: 0 auto;
      li {
        margin-right: 10px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

nav.mainNavigation,
#bottomNavigation {
  $header-bg: $primary;
  background: $header-bg;
  @include color-contrast($header-bg);

  .nav-item {
    line-height: 50px;
    transition: all 0.3s;
    &:hover {
      background: darken($header-bg, 50%);
    }
  }
  @media (max-width: 992px) {
    .nav-item {
      padding-left: 10px;
      line-height: 40px;
    }
  }
}
