.jumbotron-home-default {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0;
  margin-bottom: 0;
  padding: 6em 2em;
}

.token-3-col-padding {
  color: $white;
  padding: 3rem;
  a {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  svg.circliful {
    margin-top: -30px;
    .circle {
      stroke: $accent;
      stroke-linecap: round;
    }
  }

  ol.quiz-list {
    width: 100% !important;
    display: flex;
    li.list-group-item {
      background: transparent;
      border: 1px solid #ccc;
    }
  }
}

@media (min-width: 576px) {
  .token-3-col-padding {
    ul.quiz-list-answers-wrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      li {
        flex: 1 1 48%;
      }
    }
  }
}

@media (min-width: 768px) {
  svg.circliful {
    margin-top: -75px !important;
    width: 255px;
  }
}

@media (min-width: 1400px) {
  .jumbotron-home-default {
    background-position: center -65vh;
  }

  #welcome-msg {
    padding-top: 6rem !important;
    padding-bottom: 6rem !important;
  }

  .token-3-col-padding {
    padding: 6rem;
    svg.circliful {
      width: 300px;
      margin-top: -75px !important;
    }
    ul.quiz-list-answers-wrapper {
      flex-direction: column;
    }
    li.quiz-question {
      flex: 1 1 100%;
      width: 100% !important;
    }
  }
}
