@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Permanent+Marker");

/*-------COLOR VARIABLES-------*/

$transparent: transparent;

$white: #fff;
$black: #000;

$danger: red;
$caution: yellow;
$success: green;

$primary: #0195da;
$primary-light-10: lighten($primary, 10%);
$primary-light-20: lighten($primary, 20%);
$primary-light-30: lighten($primary, 30%);
$primary-light-40: lighten($primary, 40%);
$primary-light-50: lighten($primary, 50%);

$primary-dark-10: darken($primary, 10%);
$primary-dark-20: darken($primary, 20%);
$primary-dark-30: darken($primary, 30%);
$primary-dark-40: darken($primary, 40%);
$primary-dark-50: darken($primary, 50%);

$neutral: #d7dae5;
$neutral-light-10: lighten($neutral, 10%);
$neutral-light-20: lighten($neutral, 20%);
$neutral-light-30: lighten($neutral, 30%);
$neutral-light-40: lighten($neutral, 40%);
$neutral-light-50: lighten($neutral, 50%);

$neutral-dark-10: darken($neutral, 10%);
$neutral-dark-20: darken($neutral, 20%);
$neutral-dark-30: darken($neutral, 30%);
$neutral-dark-40: darken($neutral, 40%);
$neutral-dark-50: darken($neutral, 50%);


$accent: #f9c784;
$accent-light-10: lighten($accent, 10%);
$accent-light-20: lighten($accent, 20%);
$accent-light-30: lighten($accent, 30%);
$accent-light-40: lighten($accent, 40%);
$accent-light-50: lighten($accent, 50%);

$accent-dark-10: darken($accent, 10%);
$accent-dark-20: darken($accent, 20%);
$accent-dark-30: darken($accent, 30%);
$accent-dark-40: darken($accent, 40%);
$accent-dark-50: darken($accent, 50%);

// $accent: $primary;

$text: #545454;
$icon: $secondary;
.bg-neutral {
  background: $neutral;
}

$increments: 10, 20, 30, 40, 50;
$clrMap: (
  10: 10%,
  20: 20%,
  30: 30%,
  40: 40%,
  50: 50%,
);

// Generate Palette Tints
.bg-primary {
  background: $primary !important;
}

@each $incr in $increments {
  .bg-primary-light-#{$incr} {
    background-color: lighten($primary, $incr);
  }
}

@each $incr in $increments {
  .bg-neutral-light-#{$incr} {
    background-color: lighten($neutral, $incr);
  }
}

// Generate Palette Shades
@each $incr in $increments {
  .bg-primary-dark-#{$incr} {
    background-color: darken($primary, $incr);
  }
}
@each $incr in $increments {
  .bg-neutral-dark-#{$incr} {
    background-color: darken($neutral, $incr);
  }
}

// .bg--primary {
//   background: $primary;
// }

// .bg--primary--light-30 {
//   background: $primary-light-30;
// }
// .bg--secondary {
//   background: $secondary;
// }

// Color Default
$main-bg: $white;

/*--------PROGRAM FONTS--------*/
$body-font: "Open Sans", Arial, sans-serif;
$heading-font: "Permanent Marker", Georgia, serif;

$body-font-size: 16px;
$body-line-height: 150%;
$body-font-weight: 300;
$body-font-family: $body-font;
